#container {
  width: 800px;
  height: 500px;
  overflow: hidden;
}

figure {
  width: 5000px;
  height: 500px;
  margin: 0;
  transform: translateX(-1600px);
  transition: transform 1s;
}

figure img {
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}

#tooltip {
  background-color: black;
  color: white;
  display: inline-block;
}

#tooltip:after {
  content: "";
  position: absolute;
  left: 30px;
  top: 85%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
